/* Reset default margin and padding */
body, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

/* Set background color */
body {
    background-color: #111111;
    margin: 5%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#preprompt-div {
    padding: 1%;
    width: 50%;
}

.prompt-subject {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.35), rgba(151, 151, 151, 0.45));
    font-size: 32px;

    border-radius: 20px;
    
    height: 200px;
    
    padding: 20px;

    color: rgba(255, 255, 255, 0.85);
}

.prompt-subject::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.prompt-example {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.35), rgba(151, 151, 151, 0.45));
    font-size: 32px;

    border-radius: 20px;
    
    height: 200px;
    
    padding: 20px;
    color: rgba(255, 255, 255, 0.85);
}

.prompt-example::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

/* practice.html stylesheet */

#card-container {
    padding: 1%;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
}

.card {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.35), rgba(151, 151, 151, 0.45));
    font-size: 32px;

    border-radius: 20px;
    
    height: 200px;
    
    padding: 20px;

    color: rgba(255, 255, 255, 0.85);
}